body {
  background-image: linear-gradient(
    to right bottom,
    #b9b9b9,
    #c8c7ca,
    #d8d5db,
    #e9e4ec,
    #fbf2fd
  );
  background-attachment: fixed;
  background-size: 100%;
}
a {
  border: none;
  cursor: pointer;
  font-size: large;
  text-decoration: none;
  color: grey;
  display: flex;
  align-items: center;

  &:hover {
    color: orangered;
  }
}
header {
  height: 5vh;
  min-height: 40px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  #logo {
    width: 100px;
    height: 90px;
    position: absolute;
    left: 4%;
  }
  .profil {
    position: relative;
    left: 22%;
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  #pseudo {
      margin-right: 1vw;
  }
}
.link {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
