.liste{
  background-image: linear-gradient(
    to right bottom,
    #b9b9b9,
    #c8c7ca,
    #d8d5db,
    #e9e4ec,
    #fbf2fd
  );
  min-height: 92%;
}

.listeCard {
  width: 100vw;
  margin-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
 

  .example-card {
    width: 13vw;
    min-width:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1%;
    margin: 2%;
    border: solid 2px orangered;
    background-image: url(../../assets/img/spaceback.png);
    background-size: cover;
    background-repeat: no-repeat;
    mat-card-title{
      color: orangered
    }
  }
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 95%;
      border: solid 4px orangered;
      padding: 0%;
    }
  }

  .example-header-image {
    background-size: cover;
  }
  .filled {
    color: orangered;
  }

  .notfilled {
    color: #6e6a6a;
    width: 100%;
  }
  #rating {
    display: flex;
    justify-content: space-around;
  }
}
.head {
  width: 95%;
  display: flex;
  justify-content: center;
  .formulaire {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      mat-icon {
        color: orangered;
      }
      input {
        border-color: orangered;
        border-radius: 5px;
      }
      .searchbar {
        margin: 2%;
        width: 30vw;
      }
      select{
        border: 1px solid orangered;
        border-radius: 5px;
        color: aliceblue;
        background-color: orangered;
      }
      .cherche {
        color: orangered;
        border: none;
        background: transparent;
        &:hover {
          color: aliceblue;
        }
        mat-icon {
          font-size: xx-large;
        }
      }
    }
  }

}
  .pagination{
    width: 100%;

    display: flex;
    justify-content: center;
    pagination-controls{
    color:orangered;
  }
}
small{
  font-size: 12px;
  color: orangered;
}
.filled {
  color: orangered;
}

.notfilled {
  color: #6e6a6a;
  width: 100%;
}
#rating {
  display: flex;
  justify-content: space-around;
}
.boutton{
  width: 100%;
  display: flex;
  justify-content: center;

}
#addnote{
  background-color: orangered;
  width: 60%;
  &:hover{
    background-color: white;
  }
}
.boutton1{
  width: 100%;
  display: flex;
  justify-content: right;
  #delete{
    &:hover{
      background-color: orangered;
    }
  }
}