<div class="pageperso">
  <header>
    <div class="photoprofil">
      <img
        *ngIf="profilPicture"
        src="http://php-jvcmns.test/uploads/{{ profilPicture }}"
      />
      <img
        *ngIf="profilPicture == null"
        src="http://php-jvcmns.test/uploads/default.jpg"
      />
      <button class="btn" (click)="open(content)" id="addpicture">
        <mat-icon>photo_camera</mat-icon>
      </button>
    </div>
    <span class="pseudo">
      {{ pseudo }}
    </span>
    <span *ngIf="admin == 1" class="pseudo" id="admin">(Admin)</span>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Photo de profil</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <div class="input-group">
              <input id="profil" type="file" (change)="fileChange($event)" />
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-outline-dark"
              (click)="uploadFile()"
            >
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </ng-template>
    <div class="option">
      <a [routerLink]="['/reglages']"
        ><button mat-button id="settings">
          <mat-icon> settings </mat-icon>
        </button></a
      >
    </div>
  </header>

  <div class="ajouter">
    <button [routerLink]="['/ajouter']" mat-fab color="primary">
      <mat-icon>sports_esports</mat-icon><span>Ajouter un jeu</span
      ><mat-icon>sports_esports</mat-icon>
    </button>
  </div>

    <div class="listeCard">
      <mat-card
        class="example-card"
        *ngFor="
          let jeux of liste | paginate: { itemsPerPage: 4, currentPage: pages }
        "
      >
        <mat-card-header>
          <mat-card-title *ngIf="jeux.jeuxTitre.length > 30"
            >{{ jeux.jeuxTitre[0].toUpperCase()+jeux.jeuxTitre.slice(1).substring(0, 30) }}...</mat-card-title
          >
          <mat-card-title *ngIf="jeux.jeuxTitre.length < 30">{{
            jeux.jeuxTitre[0].toUpperCase()+jeux.jeuxTitre.slice(1)
          }}</mat-card-title>
          <mat-card-subtitle>{{ jeux.jeuxGenre }}</mat-card-subtitle>
          <mat-card-subtitle>{{ jeux.jeuxEditeur }}</mat-card-subtitle>
        </mat-card-header>
        <div class="image">
          <img
            mat-card-image
            src="http://php-jvcmns.test/uploads/jeux/{{ jeux.jeuxPhoto }}"
            alt="Photo of game"
          />
        </div>
        <mat-card-content>
          <ngb-rating [max]="5" [(rate)]="jeux.jeuxNote" [readonly]="true">
            <ng-template let-fill="fill">
              <div [class.filled]="fill === 100" [class.notfilled]="fill === 0">
                <mat-icon>sports_esports</mat-icon>
              </div>
            </ng-template>
          </ngb-rating>
          <br />Votre note est de: {{ jeux.jeuxNote }}/5
        </mat-card-content>
        <div class="boutton1">
          <button class="btn" (click)="open(content1)" id="delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <ng-template #content1 let-modal>
          <form #j="ngForm" (ngSubmit)="onDelete(j)">
            <mat-card-content>
              <div class="modal-body">
                <input
                  type="hidden"
                  name="currentJeux"
                  ngModel="{{ jeux.jeuxId }}"
                />
                <button
                  type="button"
                  class="btn-close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                ></button>
  
                <div class="mb-3">
                  <p>Voulez vous vraiment supprimer?</p>
                  <button type="submit">oui</button>
                  <button type="button" (click)="modal.dismiss('Cross click')">
                    non
                  </button>
                </div>
              </div>
            </mat-card-content>
          </form>
        </ng-template>
      </mat-card>
    </div>
  </div>
  <div class="pagination" *ngIf="liste.length > 4">
    <pagination-controls
      previousLabel="Prec"
      nextLabel="Suiv"
      (pageChange)="pages = $event"
    ></pagination-controls>
  </div>
